/** https://hankchizljaw.com/wrote/a-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Typography
* Derived from https://www.smashingmagazine.com/2020/07/css-techniques-legibility/
*/

@font-face {
  font-family: "Colus";
  src: url("/Colus-Regular.ttf");
}

html,
body {
  font-family: 'Vollkorn', serif;
  color: #0c0c0c;
}

@supports (font-size-adjust: 1) {
  article {
      font-size-adjust: 0.5;
  }
}

p {
  line-height: calc(1ex / 0.32);
}

p::first-letter {
  font-weight: 600;
  color: #042801;
  letter-spacing: 0.02em;
}

article h1 {
  font-size: 2.5em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

article h2 {
  font-size: 2em;
  line-height: calc(1ex / 0.42);
  margin: calc(1ex / 0.42) 0;
}

article h3 {
  font-size: 1.75em;
  line-height: calc(1ex / 0.38);
  margin: calc(1ex / 0.38) 0;
}

article h4 {
  font-size: 1.5em;
  line-height: calc(1ex / 0.37);
  margin: calc(1ex / 0.37) 0;
}

article p {
  font-size: 1em;
  line-height: calc(1ex / 0.32);
  margin: calc(1ex / 0.32) 0;
}

article {
  max-width: 100%;
  padding: 0 0.5rem
}

p {
  width: 60ch;
  max-width: 100%;
}

a {
  background:
     linear-gradient(
       to bottom, #c9e9cc 0%,
       #c9e9cc 100%
     );
  background-position: 0 100%;
  background-repeat: repeat-x;
  background-size: 4px 4px;
  color: #045601;
  text-decoration: none;
  transition: background-size .2s, color .1s;
}

a:hover {
  background-size: 4px 50px;
}

.short {
  font-size: 80%;
}