.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 1000px;
}

.callout {
  align-self: flex-end;
  padding-right: 200px;
}

